
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>なんか試し</title>


  </head>

  <body>
    <a class="navbar-brand" href="/">weblog</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/write">write</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/input">input</a>
      </li>
      <li>
        <a class="nav-link" href="/input_area">input_map</a>
      </li>
    </ul>
  </div>
    <h1>Hello world</h1>
     
  </body>
</html>
