<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>入力</title>
  </head>

  <body>
    <!--   <a href="/?name=hoge&age=20">Get</a> -->
      <form method="POST">
      名前：<input type="text" name="name"><br>
      コメント：<textarea type="number" name="age"></textarea><br>
      <input type="submit">
      </form>
    <h1>test</h1>
  </body>
</html>
