<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>位置情報入力</title>
  </head>

  <body>
      <!-- <a href="/?name=hoge&age=20">Get</a> -->
      <a href="/">back</a>
      <form method="POST">
      緯度：<input type="text" name="lat"><br>
      経度：<input type="text" name="lng"></input><br>
      <input type="submit">
      </form>
    <h1>test</h1>
  </body>
</html>
